// Media

$minwidth:320;
$mw:1190;
$md1:$mw+12;
$md2:992.98;
$md3:767.98;
$md4:575.98;
$md5:479.98;

// Colors
$light-grey: #EEEEEE;
$red-accent: #e43831;

// Fonts

$fontfamily: 'Roboto', sans-serif;