extends partials/layout

//- Override default config variables
append config

  //- ********** Settings **********
  //- ==============================
  -var pageTitle = 'Home'
  -var whatPage = 'Home'
  //- ==============================
  //- ********* Settings END *******

//- Page Content
block content
  .container
    .cart
      .cart__container
        .cart__header
          h2.h2 Корзина
          a(href="#").btn-clear Очистить корзину
        .cart__inner
          //- .cart__product
          //-   .cart__product-header
          //-     .cart__product-info
          //-       a(href="").cart__product-name Декантер WINEWINGS 0,85 л Riedel (2007/02 S1)
          //-       .cart__product-price
          //-         span 12 250
          //-         | грн
            a(href="#").cart__product-delete.btn-delete Удалить
          //- .cart__footer
          //-   span.cart__full-price 99999
  section.products
    .container
      .products__row
        .products__col
          .products__card.card
            .card__header
              a(href="#").card__thumb
                img(src="./img/product.jpg", alt="Product thumbnail")
            .card__body
              a(href="#").card__title Riedel | DECANTER
              .card__descr Какое-то длинное очень длинное описание продуктаs
            .card__footer
              .card__price
                span 99 999
                | грн
              button(href="#").card__buy.btn-buy
                img(src="./img/buy.svg")
        .products__col
          .products__card.card
            .card__header
              a(href="#").card__thumb
                img(src="./img/product.jpg", alt="Product thumbnail")
            .card__body
              a(href="#").card__title Riedel | DECANTER
              .card__descr Какое-то длинное очень длинное описание продукта
            .card__footer
              .card__price
                span 99 999
                | грн
              button(href="#").card__buy.btn-buy
                img(src="./img/buy.svg")
        .products__col
          .products__card.card
            .card__header
              a(href="#").card__thumb
                img(src="./img/product.jpg", alt="Product thumbnail")
            .card__body
              a(href="#").card__title Riedel | DECANTER
              .card__descr Какое-то длинное очень длинное описание продукта
            .card__footer
              .card__price
                span 99 999
                | грн
              button(href="#").card__buy.btn-buy
                img(src="./img/buy.svg")
        .products__col
          .products__card.card
            .card__header
              a(href="#").card__thumb
                img(src="./img/product.jpg", alt="Product thumbnail")
            .card__body
              a(href="#").card__title Riedel | DECANTER
              .card__descr Какое-то длинное очень длинное описание продукта
            .card__footer
              .card__price
                span 99 999
                | грн
              button(href="#").card__buy.btn-buy
                img(src="./img/buy.svg")
        .products__col
          .products__card.card
            .card__header
              a(href="#").card__thumb
                img(src="./img/product.jpg", alt="Product thumbnail")
            .card__body
              a(href="#").card__title Riedel | DECANTER
              .card__descr Какое-то длинное очень длинное описание продукта
            .card__footer
              .card__price
                span 99 999
                | грн
              button(href="#").card__buy.btn-buy
                img(src="./img/buy.svg")
        .products__col
          .products__card.card
            .card__header
              a(href="#").card__thumb
                img(src="./img/product.jpg", alt="Product thumbnail")
            .card__body
              a(href="#").card__title Riedel | DECANTER
              .card__descr Какое-то длинное очень длинное описание продукта
            .card__footer
              .card__price
                span 99 999
                | грн
              button(href="#").card__buy.btn-buy
                img(src="./img/buy.svg")
        .products__col
          .products__card.card
            .card__header
              a(href="#").card__thumb
                img(src="./img/product.jpg", alt="Product thumbnail")
            .card__body
              a(href="#").card__title Riedel | DECANTER
              .card__descr Какое-то длинное очень длинное описание продукта
            .card__footer
              .card__price
                span 99 999
                | грн
              button(href="#").card__buy.btn-buy
                img(src="./img/buy.svg")
        .products__col
          .products__card.card
            .card__header
              a(href="#").card__thumb
                img(src="./img/product.jpg", alt="Product thumbnail")
            .card__body
              a(href="#").card__title Riedel | DECANTER
              .card__descr Какое-то длинное очень длинное описание продукта
            .card__footer
              .card__price
                span 99 999
                | грн
              button(href="#").card__buy.btn-buy
                img(src="./img/buy.svg")
        .products__col
          .products__card.card
            .card__header
              a(href="#").card__thumb
                img(src="./img/product.jpg", alt="Product thumbnail")
            .card__body
              a(href="#").card__title Riedel | DECANTER
              .card__descr Какое-то длинное очень длинное описание продукта
            .card__footer
              .card__price
                span 99 999
                | грн
              button(href="#").card__buy.btn-buy
                img(src="./img/buy.svg")
