nav.main-nav
	a.nav-link.active(href="#") Home
	a.nav-link(href="#") About Us
	a.nav-link(href="#") Contact
	a.nav-link(href="#") Pricing
	a.nav-link.nav-login.main-btn(href="") Login
//- include mobileToggle